<br>
<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <textarea name="text1" id="text1" cols="60" rows="15" [(ngModel)]="query" class="form-control">

    </textarea>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-primary" (click)="sendQuery()">Send Query</button>
    </div>
    <div class="col-sm-5">
      <textarea name="" id=""  rows="15" class="form-control">
      {{response | json }}
    </textarea>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-warning" *ngIf="error">{{error}}</div>
    </div>
  </div>
 
</div>
